<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
</head>

<body>
  <header><h1>Name</h1>
      <form method="post" action="http://localhost:8080/accueil">
        <button value="disconnect" name="disconnect">Deconnexion</button>
      </form>
      <br>
      <br>
      <form method="post" action="http://localhost:8080/profil">
        <button value="profil" name="driver">Profile</button>
      </form>
    </header>
    <h2>Bonjour <%= v_nom %></h2>
    <form method="POST" action="http://localhost:8080/reservation">
        <input type="text" name="departure" id='departure' placeholder="Departure">
        <br>
        <input type="text" name="destination" id='destination' placeholder="Destination">
        <br>
        <br>
        <div id="radioButtons">
        <label class="container">Now
          <input class="radio" type="radio" checked="checked" name="typeOfReservation" value="now">
          <span class="checkmark"></span>
        </label>
        <label class="container">Later
          <input class="radio" type="radio" checked="checked" name="typeOfReservation" value="later">
          <span class="checkmark"></span>
        </label>
      </div>
        <br>
        <input type="date" name="date">
        <br> Hour:
        <br>
        <input type="time" name="time">
        <br>
        <input type="submit" name="Submit">
    </form>
    <br>
    <h3> Your past reservation</h3>
    <table id="ridesDoneClient" border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Chauffeur</th>
            </tr>
            <% if(data.length){
                for(var i = 0;i < data.length;i++) { %>
            <tr>
                <td><%=data[i].departure%></td>
                <td><%=data[i].destination%></td>
                <td><%=data[i].day%></td>
                <td><%=data[i].hour%></td>
                <td><%=data[i].pseudo%></td>
            </tr>
            <% }
            }else{ %>
                <tr>
                    <td colspan="6">No data</td>
                </tr>
            <% } %>
        </table>
</body>
<footer>
        <p>© 2018, LAURE MERAT</p>
        <p>Paris Diderot</p>
</footer>

</html>
