<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="Header">
        <h1>Taxi Reservation</h1>
    </div>
    <h2>Bonjour <%= v_nom %></h2>
    <form method="post" action="http://localhost:8080/profil">
            <input type="submit" value="profil">
        </form>
    <form method="POST" action="http://localhost:8080/reservation">
        Departure:
        <br>
        <input type="text" name="departure" id='departure'>
        <br> Destination:
        <br>
        <input type="text" name="destination" id='destination'>
        <br>
        <br> Type of reservation:
        <br>
        <input type="radio" name="typeOfReservation" value="now">Now
        <br>
        <input type="radio" name="typeOfReservation" value="later">Later
        <br> Date:
        <br>
        <input type="date" name="date">
        <br> Hour:
        <br>
        <input type="time" name="time">
        <br>
        <input type="submit" name="Submit">
    </form>
    <br>
    <h3> Your past reservation</h3>
    <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Chauffeur</th>
            </tr>
            <% if(data.length){ 
                for(var i = 0;i < data.length;i++) { %>
            <tr>
                <td><%=data[i].departure%></td>
                <td><%=data[i].destination%></td>
                <td><%=data[i].day%></td>
                <td><%=data[i].hour%></td>
                <td><%=data[i].pseudo%></td>
            </tr>
            <% }
            }else{ %>
                <tr>
                    <td colspan="6">No data</td>
                </tr>
            <% } %>
        </table>
</body>
<footer>
        <p>© 2018, LAURE MERAT</p>
        <p>Paris Diderot</p>
</footer>

</html>