<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <form method="POST" action="http://localhost:8080/modify">
        <br> Lastname:
        <br>
        <input type="text" name="lastname" value=<%= data.lastname%>>
        <br> Firstname:
        <br>
        <input type="text" name="firstname" value=<%= data.firstname%>>
        <br> Birthday:
        <br>
        <input type="date" name="birthday" value=<%= data.birthday%>>
        <br> Mail:
        <br>
        <input type="email" name="mail" value=<%= data.mail%>>
        <br> Phone number:
        <br>
        <input type="tel" name="phone" value=<%= data.phone%>>
        <br>
        <br> Pseudo:
        <br>
        <input type="text" name="pseudo" value=<%= data.pseudo%>>
        <br> Password:
        <br>
        <input type="password" name="password">
        <br> Confirm password:
        <br>
        <input type="password" name="passwordConf">
        <br>
        <input type="submit" value="save">
    </form>
</body>
<footer>
    <p>© 2018, LAURE MERAT</p>
    <p>Paris Diderot</p>
</footer>

</html>